body {
    background-color: #282c34;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#game-board {
    display: grid;
    border: 2px solid #61dafb;
    width: fit-content;
    margin: 20px auto;
}

.tile {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.FLOOR {
    background-color: #4a5260;
    border: 1px solid #3c424d;
}

.WALL {
    background-color: #333;
}

.PLAYER {
    background-color: #61dafb;
    border-radius: 50%;
    z-index: 10;
}


.MONSTER {
    background-color: #ff6961; /* 몬스터는 빨간색 */
    border-radius: 50%;
}

.ITEM {
    background-color: #f8d568; /* 아이템은 노란색 */
    border-radius: 20%;
}
